* {
    margin: 0;
}

header {
    background-image: url(pattern.png);
    background-size: contain;
    background-color: #4EA0FF;
    height: 55px;
}

.logo {
    width: 100px;
    height: 25px;
    padding-left: 50px;
    padding-top: 25px;
}

.container {
    height: 500px;
    padding-left: 50px;
}

.link {
    color: #41B6E9;
    text-decoration: none;
}

.subtitle {
    color: #808080;
}

.date {
    color: #808080;
    font-size: 11px;
}