* {
    margin: 0;
}

header {
    background-image: url(pattern.png);
    background-size: contain;
    background-color: #4EA0FF;
    height: 55px;
}

.logo {
    width: 100px;
    height: 25px;
    padding-left: 50px;
    padding-top: 25px;
}

.container {
    width: 110vh;
    padding-left: 50px;
    padding-top: 25px;
}

.link {
    color: #41B6E9;
    text-decoration: none;
}

.subtitle {
    color: #808080;
}

.date {
    color: #808080;
    font-size: 11px;
}

.photo-1 {
    display: inline-block;
    background-image:url(tim-1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 45%;
    height: 40vh;
    margin-top: 25px;    
}

.photo-2 {
    display: inline-block;
    background-image:url(tim-2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 45%;
    height: 40vh;
    margin-top: 25px;    
}

.didascalie {
    font-size: 11px;
}

.evidenziato {
    background-color: #ffff00;
}

.paragrafi {
    padding-top: 25px;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
}

.titolo {
    background-color: #0000ff;
    color: #ffffff;
    text-align: left;
}

.riga:nth-child(odd) {
    background-color: #b1e5f2 ;
}


.cella {
     width: 30%;
}

.monitor {
    background-image: url(monitor.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 45%;
    height: 40vh;
    color: #ffffff;
    font-size: 30px;
    margin-top: 15px;
    padding-left: 10px;
    padding-top: 10px;
}

.graph {
    background-image: url(graph.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 45%;
    height: 40vh;
    color: #ffffff;
    font-size: 30px;
    padding-left: 10px;
    padding-top: 10px;
}


